nav{
    background-color: #2f3640;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 80px;
}
img{
    width: 35%;
    height: auto;
    cursor: pointer;
}
.menu-bar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 400;
    margin-left: 25px;
}
.menu-bar a:hover{
    color:#00a8ff;
}
/* .cart-menu-title{
    position: relative;
}
.cart-items{
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
    font-size: 8px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    z-index: 1;
} */